<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Match</title>
</head>
<body>
<h1>Enter Match Details</h1>
<form th:action="@{/player/{playerId}(playerId=${playerId})}" th:object="${statsRequestDTO}" method="post">
    <label for="championName">Champion:</label>
    <select name="championName" id="championName" th:field="*{championName}">
        <option th:each="championName : ${championName}" th:value="${championName}" th:text="${championName}"></option>
    </select>

    <label for="kill">Kills:</label>
    <input type="number" th:field="*{kill}" id="kill" placeholder="kill">

    <label for="death">Deaths:</label>
    <input type="number" th:field="*{death}" id="death" placeholder="death">

    <label for="assist">Assists:</label>
    <input type="number" th:field="*{assist}" id="assist" placeholder="assist">

    <button type="submit">Add Match</button>
</form>
</body>
</html>
