<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>선수 정보 조회</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/comm.css" rel="stylesheet" type="text/css">
</head>
<!-- 헤더 위치 -->
<th:block th:replace="~{/comm/header :: headerFragment}"/>

<body>
<div class="container mt-5">

    <form method="get" th:action="@{/searchPlayer}">
        <div class="form-row">
            <div class="form-group col-md-2">
                <select class="form-control" id="playerId" name="playerId">
                    <option value="">닉네임</option>
                    <option th:each="player : ${player}"
                            th:text="${player.nickname}"
                            th:value="${player.id}"></option>
                </select>
            </div>
            <div class="form-group col-md-1">
                <button class="btn btn-primary" type="submit">
                    검색
                </button>
            </div>
        </div>
    </form>
    <table class="table">
        <thead>
        <tr class="tr_td">
            <th>총 승리</th>
            <th>총 패배</th>
            <th>총 승률</th>
            <th>총 킬</th>
            <th>총 데스</th>
            <th>총 어시스트</th>
            <th>총 KDA</th>
        </tr>
        </thead>
        <tbody>
        <tr class="tr_td" th:each="search : ${kdaList}">
            <th th:text="${search.totalWin}">총 승리</th>
            <th th:text="${search.totalLose}">총 패배</th>
            <th th:text="${search.totalLose > 0 ? #numbers.formatDecimal(search.totalWin / ((search.totalWin + search.totalLose) * 1.0) * 100.0, 1, 2) +'%' : '100%'}">
                승률
            </th>
            <th th:text="${search.totalKill}">총 킬</th>
            <th th:text="${search.totalDeath}">총 데스</th>
            <th th:text="${search.totalAssist}">총 어시스트</th>
            <th th:text="${search.totalDeath == 0 ? #numbers.formatDecimal((search.totalKill + search.totalAssist) / 1.0, 1, 2) : #numbers.formatDecimal((search.totalKill + search.totalAssist) / (search.totalDeath * 1.0), 1, 2)}">
                KDA
            </th>
        </tr>
        </tbody>
    </table>

    <table class="table">
        <thead>
        <tr class="tr_td">
            <th>챔피언</th>
            <th>라인</th>
            <th>승</th>
            <th>패</th>
            <th>승률</th>
            <th>킬</th>
            <th>데스</th>
            <th>어시스트</th>
            <th>KDA</th>
        </tr>
        </thead>
        <tbody>
        <tr class="tr_td" th:each="search : ${search}">
            <th th:text="${search.championName.korean}">챔피언</th>
            <th th:text="${search.line}">라인</th>
            <th th:text="${search.win}">승</th>
            <th th:text="${search.lose}">패</th>
            <th th:text="${search.lose > 0 ? #numbers.formatDecimal(search.win / ((search.win + search.lose) * 1.0) * 100.0, 1, 2) +'%' : '100%'}">
                승률
            </th>

            <th th:text="${search.kill}">킬</th>
            <th th:text="${search.death}">데스</th>
            <th th:text="${search.assist}">어시스트</th>
            <th th:text="${search.death == 0 ? #numbers.formatDecimal((search.kill + search.assist) / 1.0, 1, 2) : #numbers.formatDecimal((search.kill + search.assist) / (search.death * 1.0), 1, 2)}">
                KDA
            </th>
        </tr>
        </tbody>
    </table>

</div>
</body>
<!--푸터위치-->
<th:block th:replace="~{/comm/footer :: footerFragment}"/>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</html>
