<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>임시 페이지</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/comm.css" rel="stylesheet" type="text/css">
</head>
<!-- 헤더 위치 -->
<th:block th:replace="~{/comm/header :: headerFragment}"/>

<body>
<div class="container mt-5">

    <form method="get" th:action="@{/searchPlayer/test}">
        <div class="form-row">
            <div class="form-group col-md-2">
                <select class="form-control" id="nickname" name="nickname">
                    <option value="">닉네임</option>
                    <option th:each="player : ${player}"
                            th:text="${player.nickname}"
                            th:value="${player.id}"></option>
                </select>
            </div>
            <div class="form-group col-md-1">
                <button class="btn btn-primary" type="submit">
                    검색
                </button>
            </div>
        </div>
    </form>

    <table class="table">
        <thead>
        <tr class="tr_td">
            <th>챔피언</th>
            <th>라인</th>
            <th>킬</th>
            <th>데스</th>
            <th>어시스트</th>
        </tr>
        </thead>
        <tbody>
        <tr class="tr_td" th:each="search : ${search}">
            <th th:text="${search.getChampionName().korean}">챔피언</th>
            <th th:text="${search.getLine()}">라인</th>
            <td>
                <a th:text="${search.getKill()}">킬</a>
            </td>
            <td th:text="${search.getDeath()}">데스</td>
            <td th:text="${search.getAssist()}">어시스트</td>
        </tr>
        </tbody>
    </table>

</div>
</body>
<!--푸터위치-->
<th:block th:replace="~{/comm/footer :: footerFragment}"/>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</html>
