<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>게시글</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/comm.css" rel="stylesheet" type="text/css">
</head>
<!-- 헤더 위치 -->
<th:block th:replace="~{/comm/header :: headerFragment}"/>
<body>
<div class="container">
    <h2 class="mt-5" th:text="${resultDate}">경기 일자</h2>
    <div th:each="result : ${result}">
        <div class="form-group">
            <label for="line">라인</label>
            <input class="form-control" disabled id="line"
                   name="line" th:value="${result.line}"
                   type="text">
        </div>
        <div class="form-group">
            <label for="nickname">닉네임</label>
            <input class="form-control" disabled id="nickname"
                   name="nickname" th:value="${result.nickname}"
                   type="text">
        </div>
        <div class="form-group">
            <label for="championName">챔피언</label>
            <input class="form-control" disabled id="championName"
                   name="championName" th:value="${result.championName}"
                   type="text">
        </div>
        <div class="form-group">
            <label for="kill">킬</label>
            <input class="form-control" disabled id="kill"
                   name="kill" th:value="${result.kill}"
                   type="text">
        </div>
        <div class="form-group">
            <label for="death">데스</label>
            <input class="form-control" disabled id="death"
                   name="death" th:value="${result.death}"
                   type="text">
        </div>
        <div class="form-group">
            <label for="assist">어시스트</label>
            <input class="form-control" disabled id="assist"
                   name="assist" th:value="${result.assist}"
                   type="text">
        </div>
        <a class="btn btn-warning" role="button" th:href="@{/gameResult}">돌아가기</a>
<!--        <a class="btn btn-primary" role="button" th:href="@{/updateResult/{id}(id=${result.getId()})}"-->
<!--           th:if="${#authentication.principal.username} == ${result.writer}">글 수정</a>-->
<!--        <form method="post"-->
<!--              onsubmit="return confirm('삭제하시겠습니까?');" style="display: inline;"-->
<!--              th:action="@{/deleteBoard/{id}(id=${result.getId()})}"-->
<!--              th:if="${#authentication.principal.username} == ${result.writer}">-->
<!--            <button class="btn btn-danger" type="submit">글 삭제</button>-->
<!--        </form>-->
    </div>
</div>

</body>
<th:block th:replace="~{/comm/footer :: footerFragment}"/>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


</html>
