<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block th:fragment="footerFragment">
    <footer class="footer bg-light text-center text-lg-start">
        <div class="container p-4">
            <div class="row">
                <div class="col-lg-12 col-md-12 mb-4">
                    <ul class="list-unstyled">
                        <li>제작자 : 지성현</li>
                        <li>Email : <a href="mailto:jayji5204@naver.com">jayji5204@naver.com</a></li>
                        <li>GitHub :
                            <a href="https://github.com/JayJi5204/Order" target="_blank">https://github.com/JayJi5204/Order</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</th:block>

</html>
