<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>로그인</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <link href="/css/comm.css" rel="stylesheet" type="text/css">
    <link href="/css/item.css" rel="stylesheet" type="text/css">
</head>
<body>

<!-- 헤더 위치 -->
<th:block th:replace="~{/comm/header :: headerFragment}"></th:block>

<h3 style="text-align:center;">[ 환영합니다 ]
    <span style="color: red"><th:block th:text="${message}"></th:block></span></h3>
<p></p>

<form action="/login" autocomplete="on" method="post" name="login">
    <fieldset style="text-align:center; width: 500px; margin: auto ">
        <legend style="font-size: large; ">[로그인]</legend>

        <div id="LoginForm" style="font-size:medium; font-weight: bold; text-align: center;">
            <div style="height: 40px">
                <label>ID &nbsp; : </label>
                <input name="id" placeholder="아이디를 입력해 주세요." type="text">
            </div>
            <div>
                <label>PW : </label>
                <input name="pw" placeholder="비밀번호를 입력해 주세요." type="password">
            </div>
            <p></p>
            <input style="width: 300px;height: 30px;font-weight: bold; font-size: medium" type="submit" value="LogIn">
            <a th:href="@{/signUp}" style="width: 300px; height: 30px; font-weight: bold; font-size: medium; display: inline-block; text-align: center; line-height: 30px; text-decoration: none;">
                회원가입
            </a>
            <p></p>
        </div>
    </fieldset>
</form>


<!--푸터위치-->
<th:block th:replace="~{/comm/footer :: footerFragment}"></th:block>
</body>
</html>