<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>회원가입</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="/css/comm.css">
    <link rel="stylesheet" type="text/css" href="/css/item.css">
</head>
<style>
    .fieldError {
        border-color: #bd2130;
    }
</style>
<body>

<!-- 헤더 위치 -->
<th:block th:replace="~{/comm/header :: headerFragment}"></th:block>

<h3 style="text-align:center;">[ 고객명 <span style="font-size:30px;">&#128378;</span> ]
    <span style="color: red"><th:block th:text="${message}"></th:block></span></h3>
<p></p>

<form name="signUp" th:object="${member}"  action="/signUp" method="post" role="form">
    <fieldset style="text-align:center; width: 500px; margin: auto ">
        <legend style="font-size: large; " >[회원가입]</legend>
        <div id="LoginForm" style="font-size:medium; font-weight: bold; text-align: center;">
            <div style="height: 40px">
                <label>ID &nbsp; : </label>
                <input type="text" th:field="*{name}" class="form-control" placeholder="이름을 입력하세요"
                       th:class="${#fields.hasErrors('name')}? 'form-control fieldError' : 'form-control'">
                <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Incorrect date</p>
            </div>

            <p></p>
            <input type="submit" value="SignUp" style="width: 300px;height: 30px;font-weight: bold; font-size: medium">
        </div>
    </fieldset>
</form>
<!--푸터위치-->
<th:block th:replace="~{/comm/footer :: footerFragment}"></th:block>


</body>
</html>