<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>MyGG</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/item.css" rel="stylesheet" type="text/css">
</head>
<!-- 헤더 위치 -->
<th:block th:replace="~{/comm/header :: headerFragment}"/>
<body>
<div id="main" style="font-size:large; alignment: center; padding: 10px 50px ">
    <table>
        <tr>
            <td style="width:700px">
                <div style="margin-left: -25px;">
                    <ul style="list-style-type:none;">
                        <li>프로젝트 소개 : 내전 기록 보관소</li>
                        <li>진행기간 : 2024.11.11 ~</li>
                        <li>프로젝트 목적 : 백엔드 로직과 보안을 구현하고, 실시간 데이터 처리와 고성능 시스템, 안정적인 배포환경을 구축하는 프로젝트</li>
                    </ul>
                </div>
                <hr>
                <div>
                    <ul>
                        <li>Frameworks : Spring Boot, Spring Security</li>
                        <li>Database : PostgreSQL, Redis</li>
                        <li>Data Access : JPA</li>
                        <li>Messaging : Kafka</li>
                        <li>DevOps : Docker, AWS</li>
                        <li>CI/CD : Git Actions</li>
                    </ul>
                </div>
            </td>
            <td style="width:auto">
                <img src="/img/Home.png" style="width: 550px; height: 300px;">
            </td>
        </tr>
    </table>
</div>

</body>
<!--푸터위치-->
<th:block th:replace="~{/comm/footer :: footerFragment}"/>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</html>


