<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Player Tier List</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #f8f9fa; /* 배경색 설정 */
        }
        .table thead th {
            background-color: #343a40; /* 헤더 배경색 */
            color: white; /* 헤더 글자색 */
        }
        .table tbody tr:hover {
            background-color: #e9ecef; /* 마우스 오버 시 배경색 */
        }
    </style>
</head>
<!-- 헤더 위치 -->
<th:block th:replace="~{/comm/header :: headerFragment}"/>

<body>
<div class="container mt-5">
    <h1 class="text-center mb-4">Player Tier List</h1>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>티어</th>
            <th>플레이어</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="tier : ${T(com.project.mygg.enums.Tier).values()}">
            <td th:text="${tier}"></td>
            <td>
                <div th:each="player : ${player}" th:if="${player.tier == tier}" th:text="${player.nickname}"></div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
<!-- 푸터 위치 -->
<th:block th:replace="~{/comm/footer :: footerFragment}"/>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</html>
