<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/item.css" rel="stylesheet" type="text/css">
</head>
<!-- 헤더 위치 -->
<th:block th:replace="~{/comm/header :: headerFragment}"/>

<body>
<div class="container">
    <div>
        <table class="table table-striped">
            <thead>
            <tr class="tr_td">
                <th>참여횟수</th>
                <th>승리 횟수</th>
                <th>패배 횟수</th>
                <th>전체 승률</th>
                <th>POG</th>
            </tr>
            </thead>
            <tbody id="t_body1">
            <tr class="tr_td" th:each="member : ${members}">
                <th th:text="${member.getMember_id()}">참여횟수</th>
                <td th:text="${member.getName()}">승리 횟수</td>
                <td th:text="${member.getEmail()}">패배 횟수</td>
                <td th:text="${member.getRole()}">전체 승률</td>
                <td th:text="${member.getReg_day()}">POG</td>
            </tr>
            </tbody>
        </table>
        <table class="table">
            <thead>
            <tr class="tr_td">
                <th>총 킬</th>
                <th>총 데스</th>
                <th>총 어시스트</th>
                <th>현재 티어</th>
                <th>벌점</th>
            </tr>
            </thead>
            <tbody id="t_body2">
            <tr class="tr_td" th:each="member : ${members}">
                <th th:text="${member.getMember_id()}">총 킬</th>
                <td th:text="${member.getName()}">총 데스</td>
                <td th:text="${member.getEmail()}">총 어시스트</td>
                <td th:text="${member.getRole()}">Elo</td>
                <td th:text="${member.getReg_day()}">벌점</td>
            </tr>
            </tbody>
        </table>

        <table class="table">
            <thead>
            <tr class="tr_td">
                <th>탑 픽률</th>
                <th>정글 픽률</th>
                <th>미드 픽률</th>
                <th>원딜 픽률</th>
                <th>서폿 픽률</th>
            </tr>
            </thead>
            <tbody id="t_body3">
            <tr class="tr_td" th:each="member : ${members}">
                <th th:text="${member.getMember_id()}">탑 픽률</th>
                <td th:text="${member.getName()}">정글 픽률</td>
                <td th:text="${member.getEmail()}">미드 픽률</td>
                <td th:text="${member.getRole()}">원딜 픽률</td>
                <td th:text="${member.getReg_day()}">서폿 픽률</td>
            </tr>
            </tbody>
        </table>

        <table class="table">
            <thead>
            <tr class="tr_td">
                <th>탑 승률</th>
                <th>정글 승률</th>
                <th>미드 승률</th>
                <th>원딜 승률</th>
                <th>서폿 승률</th>
            </tr>
            </thead>
            <tbody id="t_body4">
            <tr class="tr_td" th:each="member : ${members}">
                <th th:text="${member.getMember_id()}">탑 승률</th>
                <td th:text="${member.getName()}">정글 승률</td>
                <td th:text="${member.getEmail()}">미드 승률</td>
                <td th:text="${member.getRole()}">원딜 승률</td>
                <td th:text="${member.getReg_day()}">서폿 승률</td>
            </tr>
            </tbody>
        </table>

        <table class="table">
            <thead>
            <tr class="tr_td">
                <th>챔피언</th>
                <th>라인</th>
                <th>킬</th>
                <th>데스</th>
                <th>어시스트</th>
                <th>KDA</th>
                <th>승</th>
                <th>패</th>
                <th>승률</th>
            </tr>
            </thead>

            <tbody id="t_body5">
            <tr class="tr_td" th:each="member : ${members}">
                <th th:text="${member.getMember_id()}">챔피언</th>
                <td th:text="${member.getName()}">라인</td>
                <td th:text="${member.getEmail()}">킬</td>
                <td th:text="${member.getRole()}">데스</td>
                <td th:text="${member.getReg_day()}">어시스트</td>
                <td th:text="${member.getReg_day()}">KDA</td>
                <td th:text="${member.getReg_day()}">승</td>
                <td th:text="${member.getReg_day()}">패</td>
                <td th:text="${member.getReg_day()}">승률</td>
            </tr>
            </tbody>
        </table>
        <form th:action="@{/updateMember}" method="post" onsubmit="return confirm('삭제하시겠습니까?');" style="display: inline;">
            <button class="btn btn-danger" type="submit">회원 삭제</button>
        </form>
        <form th:action="@{/withdrawalMember}" method="post" onsubmit="return confirm('삭제하시겠습니까?');" style="display: inline;">
            <button class="btn btn-danger" type="submit">회원 삭제</button>
        </form>
    </div>
</div>
</body>

<!--푸터위치-->
<th:block th:replace="~{/comm/footer :: footerFragment}"/>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</html>
